.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  flex-grow: 1;
}

.submit_button {
  background-color: #fca311;
  color: white;
  border: none;
  padding: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  border-radius: 0.2em;
  margin: 1em;
  cursor: pointer;
  margin-right: 3em;
  margin-left: auto;
}

.submit_button:hover {
  background-color: #fdae2f;
}

.loading {
  margin-top: 10em;
}
