.Question {
  background: var(--white);
  width: 100%;
  max-width: 60rem;
  margin: 2.5rem auto;
  padding: 1.5rem 2rem;
  border-radius: var(--radius-min);
}

.question-title {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.question-title-text {
  margin-left: 1rem;
}

.question-text {
  color: var(--blue);
  padding: 0.5rem;
  margin-bottom: 3rem;
}

/*   Options 
***********************************/
.Option-unselected,
.Option-selected {
  cursor: pointer;
  margin: 0.5rem 0;
  width: 100%;
  border-left: none;
  display: flex;
}
.Option-unselected {
  border: 1px solid var(--gray);
}
.Option-selected {
  border: 1px solid var(--yellow);
}

.answer-option-text {
  width: 100%;
  height: auto;
  line-break: anywhere;
  align-self: center;
}
.answer-option-text p {
  padding: 0.25rem 0;
}

.selector-unselected {
  margin-right: 0.5em;
  padding: 1.1rem 0.75rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid var(--gray);
  border-top: 0;
  border-bottom: 0;

  display: grid;
  place-items: center;
}

.selector-selected {
  margin-right: 0.5em;
  padding: 1.1rem 0.75rem;
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--yellow);
  color: var(--white);
  border: 1px solid var(--yellow);
  border-top: 0;
  border-bottom: 0;

  display: grid;
  place-items: center;
}
