.Question{
    text-align: left;
    border-style: solid;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 0em;
    border-radius: 0.2em;
    border-width: 0em;
    padding-bottom: 1em;
    background-color: #ffffff;
    max-width: 60em;
    min-width: min-content;
}


.question-text{
    color: #14213D;
    padding: 1em;
    padding-bottom: 3em;
}

.question-title{
    display: "inline-block";
    font-weight: bold;
    margin:1em;
    margin-bottom: 0em;
    padding-top: 1em;
}
.question-title-text{
    display: "inline-block";
    margin-left: 1em;
    margin-top: none;
}

.Option-selected {
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    padding-left: 0em;
    border-style: solid;
    border-width: 1px;
    border-color: #FCA311;
    text-align: left;
}

.Option-unselected {
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    padding-left: 0em;
    border-style: solid;
    border-width: 1px;
    border-color:#d9d9d9;
    text-align: left;
}

.answer-option-text {
    display: inline;
    margin-left: 1em;
}


.selector-selected{
    display: inline;
    background-color: #FCA311;
    border-style: solid;
    border-width: 1px;
    border-color: #FCA311;
    color: white;
    padding: 1em;
    padding-right: 0.8em;
    padding-left: 0.8em;
}

.selector-unselected{
    display: inline;
    padding: 1em;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    padding-right: 0.8em;
    padding-left: 0.8em;
    border-left: none;
    border-bottom: none;
}