.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
  flex-grow: 1;
}


.submit_button {

  background-color: #FCA311;
  color: white;
  border: none;
  padding: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  border-radius: 0.2em;
  margin: 1em;
  cursor: pointer;
  margin-right: 3em;
  margin-left: auto;
}

.submit_button:hover {

  background-color: #FDAE2F;

}

.loading{
  
  margin-top: 10em;
}

.leftPanel{
  background-color: white;
  border-style: solid;
  border-color: white;
  height: 100%;
  min-width: 33%;
  position: fixed;
  text-align: left;
}

.answer_quickview {
  margin-top: 6em;
}


.all_question{
  border-bottom: #e5e5e5;
  border-bottom-style: solid;
  border-width: 1px;
  margin: 2em;
  margin-bottom: 0em;
  padding-bottom: 1em;
  
}

.answer_quickview_element_unanswered{
  padding: 1em;
  padding-left: 4em;
  margin: 0em;
  background-color: #FFF3E1;

}

.answer_quickview_element_answered{
  padding: 1em;
  padding-left: 4em;
  margin: 0em;
  color: black;
  background-color:white;
}