.App {
  width: 100%;
  min-height: 100vh;
  background: var(--gray);
}

/*   Header 
*******************************/
.App .header {
  background: var(--blue);
  color: var(--white);
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.App .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit_button {
  background-color: var(--yellow);
  color: var(--white);
  padding: 0.75rem 1rem;
  font-weight: bold;
  transition: background var(--transition);
}

.submit_button:hover {
  background-color: var(--yellow-light);
}

.loading {
  margin-top: 10em;
}

.App .exams {
  margin-top: 6rem;
}
