.Dashboard {
  background-color: var(--gray);
  width: 100%;
  min-height: 100vh;

  display: flex;
}

.Dashboard-drawer {
  background: var(--blue);
  color: var(--white);
  width: 30rem;
  height: 100vh;
  padding: 1rem 0;

  position: fixed;
  top: 0;
  position: relative;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Dashboard-drawer .toggle-close {
  /* border: 1px solid currentColor; */
  padding: 0.5rem 1rem;
  position: absolute;
  top: 4.5%;
  left: 1rem;
  background: transparent;
  color: var(--white);
  font-size: 2rem;
  display: none;
}

.Dashboard-drawer .welcome {
  height: 25vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Dashboard-drawer .welcome .user-avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: var(--radius-full);
}

.Dashboard-drawer .tabs,
.Dashboard-drawer .tabs {
  background: var(--blue-light);
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.Dashboard-drawer .tabs.active {
  background: var(--yellow);
}

.Dashboard-drawer .tabs span,
.Dashboard-drawer .tabs span {
  margin-left: 1rem;
}

.Dashboard-drawer .logout {
  align-self: center;
  padding: 0.5rem 2rem;
  background: transparent;
  color: inherit;
  border: 1px solid var(--yellow);
  transition: background var(--transition);
}
.Dashboard-drawer .logout:hover {
  background: var(--yellow);
}

/* Boards 
**********************************************/
.Dashboard-content {
  width: calc(70% + 30rem);
  min-height: 100vh;
}

.Dashboard-content .header {
  width: 90%;
  max-width: 80rem;
  margin: 5rem auto 2rem auto;
  min-height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dashboard-content .header .toggle-menu {
  border: 1px solid var(--yellow);
  background: transparent;
  padding: 0.5rem 1.25rem;
  padding-top: 0.75rem;
  font-size: 2rem;
  color: var(--yellow);
  visibility: hidden;
}

.Dashboard-content .header .create-new {
  background: var(--yellow);
  color: var(--white);
  padding: 0.8rem 1.25rem 0.75rem 1.25rem;
  font-size: 1.6rem;
  transition: background var(--transition);
  display: flex;
  align-items: center;
}
.Dashboard-content .header .create-new:hover {
  background: var(--yellow-light);
}
.Dashboard-content .header button span {
  margin-left: 0.5rem;
}

.Dashboard-boards {
  width: 90%;
  max-width: 80rem;
  margin: auto;
  min-height: 25rem;
}

/*    RESPONSIVE  
***************************************/

@media screen and (max-width: 500px) {
  .Dashboard-drawer {
    position: fixed;
    top: 0;
    width: 100%;
    transition: left var(--transition);
  }

  .Dashboard-drawer .toggle-close {
    display: block;
  }

  .Dashboard-content {
    width: 100%;
    min-height: 100vh;
  }

  .Dashboard-content .header .toggle-menu {
    visibility: visible;
  }
}
