.ExamArea {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_another_question_button {
  background-color: var(--yellow);
  color: var(--white);
  font-weight: bold;
  border-radius: var(--radius-min);
  margin: 1rem auto;
  padding: 1rem 2rem;
  transition: all var(--transition);
}

.add_another_question_button:hover {
  background-color: var(--yellow-light);
}
