.App {
  width: 100%;
  min-height: 100vh;
  background: var(--gray);
}

.spinner-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

/*   Header 
*******************************/
.App .header {
  background: var(--blue);
  color: var(--white);
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.App .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back_button {
  background: transparent;
  border-radius: var(--radius-full);
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
}
.back_button i {
  font-size: 2rem;
  color: var(--white);
}
.back_button_wrapper:hover .back_button i {
  color: var(--yellow);
}

.App .header .container p {
  margin-right: auto;
}
.App .header .container p .fa {
  margin-right: 0.5rem;
}

.settings_button,
.submit_button {
  background-color: var(--yellow);
  color: var(--white);
  margin-left: 0.5rem;
  padding: 0.75rem 1rem;
  font-weight: bold;
  transition: all var(--transition);
}
.submit_button:hover {
  background-color: var(--yellow-light);
}
.settings_button {
  background: transparent;
}
.settings_button:hover {
  color: var(--yellow);
}

.settings_button i,
.submit_button i {
  margin-right: 0.25rem;
}

.App .exams {
  margin-top: 6rem;
}

/*    Responsive 
**********************************/
@media (max-width: 500px) {
  .back_button_wrapper,
  .settings_button_text {
    display: none;
  }
}
