.LoginPage {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #e5e5e5;

  display: grid;
  place-items: center;
}

.LoginForm {
  width: 90%;
  max-width: 15em;
  min-height: 10em;
  padding: 2em 1.5em 3em 1.5em;
  background: #14213d;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.LoginForm-avatar {
  width: 5em;
  height: 5em;
  margin-bottom: 1em;
  object-fit: cover;
  border-radius: 50%;
}

.id_text {
  border: 1px solid #d9d9d9;
  background-color: white;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.25em 0.75em;
  padding-top: 0.35em;
}

.id_text_selected {
  border: 1px solid #fdae2f;
  background-color: white;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.25em 0.75em;
  padding-top: 0.35em;
}

.button {
  background-color: #fca311;
  color: white;
  border: none;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.8em 2em;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #fdae2f;
}

/* The bar on top of Register button */
.LoginForm-bar {
  width: 100%;
  height: 0.05em;
  background: white;
  margin: 1em 0;
}
