.LoginPage {
  width: 100%;
  min-height: 100vh;
  background: var(--gray);

  display: grid;
  place-items: center;
}

.LoginForm {
  width: 90%;
  max-width: 30rem;
  min-height: 15em;
  padding: 2rem 1.5rem 3rem 1.5rem;
  background: var(--blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.LoginForm-avatar {
  width: 9rem;
  height: 9rem;
  margin-bottom: 2rem;
  object-fit: cover;
  border-radius: var(--radius-full);
}

.id_text {
  border: 2px solid var(--white);
  background: var(--white);
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.1rem 0.75rem;
  transition: border var(--transition);
}

.id_text_selected {
  border: 2px solid var(--yellow);
  background: var(--white);
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.1rem 0.75rem;
  transition: border var(--transition);
}
.id_text input,
.id_text_selected input {
  font-size: 1.5rem;
}

.button {
  background: var(--yellow-light);
  color: var(--white);
  width: 100%;
  margin: 0.6rem 0;
  padding: 1.1rem 1rem;
  font-weight: bold;
  transition: background var(--transition);
}

.button:hover {
  background: var(--yellow);
}

/* The bar on top of Register button */
.LoginForm-bar {
  width: 100%;
  height: 0.1rem;
  background: var(--white);
  margin: 1.5rem 0;
}
