.Question{
    text-align: left;
    border-style: solid;
    margin: 5em;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 0.2em;
    border-width: 0em;
    padding-bottom: 1em;
    background-color: #ffffff;
}

.question-text{
    color: #14213D;
    padding: 1em;
    border-bottom: none;
}


.editpencil {
    display: inline-block;
    margin:1em;
    margin-right: 0em;
    padding-right: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-bottom: 0em;
}

.questionedit {
    display: inline-block;
}

.answer-option-text {
    display: inline;
    margin-left: 1em;
}

.Option-selected {
    margin: auto;
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #FCA311;
    text-align: left;
    border-left: none;
    width: 100%;
}

.Opt {
    margin: 1em;
}

.Option-unselected {
    margin: auto;
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    text-align: left;
    border-left: none;
    width: 100%;
}


.selector-selected{
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: #FCA311;
    padding: 0.5em;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: 0.5em;
}


.selector-unselected{
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    padding: 0.5em;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: 0.5em;
}