/*  settings 
*****************************************/

/*
To make everything look nicer:
1. remove disabled from Settings.js
2. .settings-form > * {border: 1px solid var(--yellow);}
3. remove background from .input-box 
*/

.settings {
  width: 90%;
  max-width: 80rem;
  height: calc(90vh - 10rem);
  margin: auto;
  display: grid;
  place-items: center;
}

.settings-form {
  background: var(--white);
  width: 100%;
  max-width: 40rem;
  min-height: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-form > * {
  border: 1px solid var(--gray);
  width: 100%;
  max-width: 25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.input-box {
  background: var(--gray);
  display: flex;
  align-items: center;
}
.input-box i {
  width: 2rem;
  margin-right: 0.5rem;
}
.input-box input {
  padding: 0.5rem;
  width: 100%;
}

.input-box input:disabled,
.settings-form-submit:disabled,
.settings-form button:hover:disabled {
  border: 0;
  background: var(--gray);
  color: #777777;
  cursor: not-allowed;
}

.settings-form-submit {
  background: var(--yellow);
  color: var(--white);
  font-weight: bold;
  padding: 1.25rem;
  transition: background var(--transition);
}
.settings-form-submit:hover {
  background: var(--yellow-light);
}

/*    RESPONSIVE  
      ***************************************/

@media screen and (max-width: 500px) {
  .Dashboard-drawer {
    position: fixed;
    top: 0;
    width: 100%;
    transition: left var(--transition);
  }

  .Dashboard-drawer .toggle-close {
    display: block;
  }

  .Dashboard-content {
    width: 100%;
    min-height: 100vh;
    left: 0;
  }

  .Dashboard-content .header .toggle-menu {
    visibility: visible;
  }
}
